@import url('variables.css');

/* Common */
body{
    font-family: 'Roboto', sans-serif;
}
/* ------- */
/* header */
header{
    height: 4.375rem;
    background-color: var(--ms-bg-header);
    padding: .625rem 0;
}
.ms_mobile-logo{
    max-width: 3.125rem;
}
.fa-magnifying-glass{
    position: absolute;
    top: 30%;
    left: 1.25rem;
}
/* ------- */

/* Main */
.ms_container{
    height: calc(100vh - 4.375rem);
}
/* Side-Bar */
aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--ms-bg-sidebar);
    height: calc(100vh - 4.375rem);
    padding: 1.125rem;
    max-width: 9.375rem;
    color: white;

}
#sidebar > ul{
    height: 100%;
}
#sidebar ul li:hover{
    background-color: grey;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    aside{
        width: 100%;
    }
}
/* ------- */
/* Dash-Board */
.ms_dash-up{
    background-color: var(--ms-bg-dashboard-up);
}
.card{
    height: 300px;
}
/* ------- */